*
!.git
!.changeset
!packages
packages/**/.turbo
packages/**/dist
packages/**/node_modules
!apps
apps/**/.turbo
apps/**/build
apps/**/dist
apps/**/logs
apps/**/node_modules
!.npmrc
!package.json
!yarn.lock
!turbo.json
